<div class="contacto p-4">
    <h2 class="text-center p-3"><strong>Contacta conmigo</strong></h2>
    <p class="text-center">Puedes encontrarme y contactar conmigo en cualquiera de estas direcciones / redes sociales.
    </p>

    <img class="d-block mx-auto rounded" src="../../assets/img/contacto/contacto.jpg" alt="">

    <div class="grid-container row text-center p-5">

        <div class="col-sm">
            <a target="_blank" href="https://whatsapp.com" class="text-dark text-decoration-none">
                <h2 class="p-3"><strong>WhatsApp</strong></h2>
                {{phone}} <br>
                <i class="fa-brands fa-whatsapp fa-2xl p-5"></i>
            </a>
        </div>

        <div class="col-sm">
            <a target="_blank" href="https://gmail.com" class="text-dark text-decoration-none">
                <h2 class="p-3"><strong>Correo</strong></h2>
                {{gmail}} <br>
                <i class="fa-solid fa-envelope fa-2xl p-5"></i>
            </a>
        </div>

        <div class="col-sm">
            <a target="_blank" href="https://linkedin.com" class="text-dark text-decoration-none">
                <h2 class="p-3"><strong>LinkedIn</strong></h2>
                www.linkedin.com/in/saulorey <br>
                <i class="fa-brands fa-linkedin fa-2xl p-5"></i>
            </a>
        </div>

    </div>
</div>