<div class="contacto p-4">
    <h2 class="text-center p-3"><strong>Contacta conmigo</strong></h2>
    <p class="text-center">Puedes encontrarme y contactar conmigo en cualquiera de estas redes sociales.
    </p>

    <img class="d-block mx-auto rounded" src="././assets/img/contacto/contacto.jpg" alt="">

    <div class="grid-container row text-center p-5">

        <div class="col-sm">
            <a target="_blank" href="https://whatsapp.com" class="text-dark text-decoration-none">
                <h2 class="p-3 text-success"><strong>WhatsApp</strong></h2>
                {{phone}} <br>
                <i class="fa-brands fa-whatsapp fa-2xl p-5 text-success"></i>
            </a>
        </div>

        <div class="col-sm">
            <a target="_blank" href="https://github.com/Saulo-cloud" class="text-dark text-decoration-none">
                <h2 class="p-3"><strong>GitHub</strong></h2>
                Saulo-cloud <br>
                <i class="fa-brands fa-github fa-2xl p-5"></i>
            </a>
        </div>

        <div class="col-sm">
            <a target="_blank" href="https://gmail.com" class="text-dark text-decoration-none">
                <h2 class="p-3 text-danger"><strong>Gmail</strong></h2>
                {{gmail}} <br>
                <i class="fa-solid fa-envelope fa-2xl p-5 text-danger"></i>
            </a>
        </div>

        <div class="col-sm">
            <a target="_blank" href="https://gitlab.com/Saulo-gitlab" class="text-dark text-decoration-none">
                <h2 class="p-3 text-warning"><strong>GitLab</strong></h2>
                Saulo-gitlab <br>
                <i class="fa-brands fa-gitlab fa-2xl p-5 text-warning"></i>
            </a>
        </div>

        <div class="col-sm">
            <a target="_blank" href="https://www.linkedin.com/in/saulorey" class="text-dark text-decoration-none">
                <h2 class="p-3 text-primary"><strong>LinkedIn</strong></h2>
                Saulo Rey <br>
                <i class="fa-brands fa-linkedin fa-2xl p-5 text-primary"></i>
            </a>
        </div>

    </div>
</div>