#logo{
    width: 65px;
    height: 55px;
}
nav{
    width: 100%;
}
.preHeader{
    width: 100%;
}
.parrafoCorreo{
    font-size: smaller;
    margin-top: 5px;
}
.parrafoTelefono{
    font-size: smaller;
    margin-top: 5px;
}