<div class="text-center p-3 bg-warning">
    <h2 class="p-2"><strong>Mi página web sobre Calistenia</strong></h2>
    <p class="p-1">Empecé con esta <strong>"página web"</strong> en base a una práctica de una asignatura.<br>
        Vi que me interesaba el tema, y <strong>traté de que fuese útil</strong> para cualquier persona interesada.<br>
        <strong>Seguiré trabajando en ella</strong> con la intención de mejorarla y añadirle funcionalidades.
    </p>
</div>
<div class="div calistenia text-center p-3 bg-warning">
    <a href="http://saulo.byethost10.com/makecalisthenics" target="_blank">
        <h5><strong>MakeCalisthenics</strong></h5>
        <img src="../../assets/img/trabajos/calistenia.jpg" class="rounded">
    </a>
</div>
<hr>
<div class="p-5 bg-success">
    <h2 class="text-center"><strong>Página web sencilla con Angular</strong></h2>
    <p class="p-2 text-center"><strong>En estos momentos</strong> me encuentro, junto con la ayuda de un compañero,
        realizando una página
        web
        sencilla
        con <strong>Angular</strong>.</p>
</div>