<div class="p-5">
    <h2 class="text-center p-3"><strong>Mis estudios</strong></h2>
    <div class="text-center">
        <img class="p-3" src="../../assets/img/inicio/estudios.jpg">
    </div>
    <p class="text-center">Realicé el <strong>bachillerato de Ciencias Sociales</strong> entre los años
        2016-2019.<br>Cursé el <strong>1º año del Grado en Sociología</strong> durante el año 2019-2020 en la UDC.<br>Y
        en estos 2 últimos años realicé el <strong>Ciclo Superior de Desarrollo de Aplicaciones Web (DAW)</strong>.
    </p>
</div>