<div class="p-5">
    <h2 class="text-center p-3"><strong>Mis estudios</strong></h2>
    <div class="text-center">
        <img class="p-3 w-50" src="././assets/img/inicio/estudios.jpg">
    </div>
    <p class="text-center">Realicé el <strong>bachillerato de Ciencias Sociales</strong> entre los años
        2016-2019.<br>Cursé el <strong>1º año del Grado en Sociología</strong> durante el año 2019-2020 en la
        UDC.<br>Y
        en estos 2 últimos años realicé el <strong>Ciclo Superior de Desarrollo de Aplicaciones Web (DAW)</strong>.
    </p>
</div>

<div class="p-5">
    <h2 class="text-center p-3"><strong>MIS VENTAJAS</strong></h2>
    <p class="text-center"><strong>Puntos a mi favor</strong> a la hora de buscar trabajo, o mismo en el día a día...
    </p>
    <div class="grid-container text-center p-3 gap-4 row">
        <div class="grid-container text-center p-3 gap-4 row">
            <div class="caja bg-success col-sm rounded">
                <i class="fa-solid fa-book fa-2xl p-4"></i>
                <h5><strong>Autodidacta</strong></h5>
                <p class="p-1">Quizás suene al <strong>típico</strong> adjetivo que todos nos adjudicamos, pero puedo
                    asegurar que
                    <strong>la gran parte de lo que he aprendido ha sido por interés propio.</strong>
                </p>
            </div>
            <div class="caja bg-success col-sm rounded">
                <i class="fa-solid fa-shirt fa-2xl p-4"></i>
                <h5><strong>Minimalista</strong></h5>
                <p class="p-1">He escuchado ya varias veces, que <strong>en la programación</strong> muchas veces:
                    <strong>"Menos es más"</strong>.
                </p>
            </div>
        </div>
    </div>

    <div class="p-5">
        <h2 class="text-center p-3"><strong>MIS DESVENTAJAS</strong></h2>
        <p class="text-center">Este fragmento de la página web, <strong>puede considerarse contradictorio que lo
                incluya</strong>, pero
            lo
            hago para dejar en claro, desde un principio, las que yo considero, mis desventajas.</p>
        <div class="grid-container text-center p-3 gap-4 row">
            <div class="grid-container text-center p-3 gap-4 row">
                <div class="caja bg-danger col-sm rounded">
                    <i class="fa-solid fa-person-digging fa-2xl p-4"></i>
                    <h5><strong>Escasa experiencia</strong></h5>
                    <p class="p-1">(Actualmente en prácticas de fin de ciclo en Minsait).<br>
                        <strong>Posiblemente lo que no buscas para tu empresa.</strong><br> Pese a ello,
                        <strong>agradecería la
                            oportunidad</strong> de formar parte de un proyecto.<br> Sobre todo, para verme en la
                        <strong>tesitura</strong> de <strong>trabajar en equipo</strong>.
                    </p>
                </div>
                <div class="caja bg-danger col-sm rounded">
                    <i class="fa-solid fa-battery-quarter fa-2xl p-4"></i>
                    <h5><strong>Perfeccionista</strong></h5>
                    <p class="p-1">A veces me obsesiono demasiado...<br>
                        Por ejemplo, llegando <strong>al punto de perder</strong> unos <strong>15
                            minutos </strong>
                        <strong>decidiendo que iconos ponerle a mis desventajas.</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="p-5 text-center" id="divCV">
            <h2 class="text-center p-3"><strong>CURRICULUM VITAE</strong></h2>
            <img src="././assets/img/inicio/cv_v6_v2.png">
        </div>