<div class="p-5">
    <h2 class="text-center p-3"><strong>MIS DESVENTAJAS</strong></h2>
    <p class="text-center">Este fragmento de la página web, puede considerarse contradictorio que lo incluya, pero lo
        hago para dejar en claro, desde un principio, las que yo considero, mis desventajas.</p>
    <div class="grid-container text-center p-3 gap-4 row">
        <div class="grid-container text-center p-3 gap-4 row">
            <div class="caja bg-danger col-sm">
                <i class="fa-solid fa-person-digging fa-2xl p-4"></i>
                <h5><strong>Escasa experiencia</strong></h5>
                <p class="p-1">Soy <strong>joven</strong> y <strong>recién titulado</strong> (actualmente en prácticas
                    de fin de ciclo en Minsait).<br>
                    <strong>Posiblemente lo que no buscas para tu empresa.</strong><br> Pese a ello, agradecería la
                    oportunidad de formar parte de un proyecto y adquirir conocimientos en lenguajes para un futuro.
                </p>
            </div>
            <div class="caja bg-danger col-sm">
                <i class="fa-solid fa-battery-quarter fa-2xl p-4"></i>
                <h5><strong>Perfeccionista</strong></h5>
                <p class="p-1">Soy perfeccionista, llegando <strong>al punto de perder</strong> unos <strong>15
                        minutos </strong>
                    <strong>decidiendo que iconos ponerle a mis desventajas.</strong>
                </p>
            </div>
        </div>
    </div>

    <div class="p-5">
        <h2 class="text-center p-3"><strong>Mis estudios</strong></h2>
        <div class="text-center">
            <img class="p-3" src="../../assets/img/inicio/estudios.jpg">
        </div>
        <p class="text-center">Realicé el <strong>bachillerato de Ciencias Sociales</strong> entre los años
            2016-2019.<br>Cursé el <strong>1º año del Grado en Sociología</strong> durante el año 2019-2020 en la
            UDC.<br>Y
            en estos 2 últimos años realicé el <strong>Ciclo Superior de Desarrollo de Aplicaciones Web (DAW)</strong>.
        </p>
    </div>